body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #1e1345;
  background-image: url("../img/1.jpg");
}
/* nav - start  */
.nav {
  padding: 20px 0px;
  background-color: #1e1345;
}
.nav .nav_logo a img {
  max-width: 160px;
  max-height: 60px;
}

.nav .nav_menu {
  display: flex;
  align-items: center;
}

.nav .nav_menu ul li {
  float: left;
  margin-right: 30px;
}

.nav .nav_menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: 0.3s;
}

.current a {
  color: #00c0ff !important;
}

.nav .nav_menu ul li a:hover {
  color: #00c0ff;
}

.nav .nav_menu .nav_icons i {
  font-size: 16px;
  color: #fff;
  padding-left: 15px;
  transition: 0.3s;
}

.nav .nav_menu .nav_icons i:hover {
  color: #00c0ff;
}
.nav .nav_menu .nav_icons {
  position: relative;
  margin-left: 40px;
}

.nav .nav_menu .nav_icons::before {
  content: "|";
  position: absolute;
  left: -30px;
  top: -1px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

/* nav_mobile - start  */
.toggle-button {
  position: absolute;
  top: 30px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  /* vertical-align: middle; */
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
/* nav_mobile - end  */
/* nav - end  */

/* hero - start  */

.hero .content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero .hero_img {
  display: flex;
  justify-content: center;
}

.hero .hero_content h1 {
  font-size: 75px;
  margin-bottom: 14px;
  font-weight: 600;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  color: #fff;
  line-height: 1.3;
}
.hero .hero_content h1 span {
  color: #00c0ff;
}

.hero .hero_content p {
  font-size: 20px;
  margin-bottom: 35px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.hero .hero_img img {
  max-width: 430px;
  max-height: 430px;
}

.hero_tm_button {
  /* width: 100%; */
  height: auto;
  clear: both;
  float: left;
}
.hero_tm_button a {
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: inline-block;
  background-color: #00c0ff;
  padding: 18px 43px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.hero_tm_button a span {
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
}
.hero_tm_button a:before {
  position: absolute;
  content: "";
  left: -10px;
  right: -10px;
  bottom: -10px;
  top: -10px;
  background-color: #fff;
  transform: translateY(100%);

  transition: all 0.3s ease;
}
.hero_tm_button a:hover:before {
  transform: translateY(0);
}
.hero_tm_button a:hover span {
  color: #000;
}

/* hero - end  */

/* features - start  */
.features {
  /* margin-bottom: 113px; */
  height: auto;
}
.features_card .features_card_content {
  width: 100%;
  height: 100%;
  float: left;
  background-color: #3a2b71;
  border-radius: 10px;
  padding: 60px;
  margin: 25px 0;
  box-sizing: border-box;
}

.features_card .features_card_content i {
  font-size: 70px;
  margin-bottom: 30px;
  color: #00c0ff;
}

.features_card .features_card_content h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.features_card .features_card_content p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  word-wrap: break-word;
  font-weight: 400;
  color: #b4afc6;
}

/* features - end  */

/* about - start  */

.about {
  padding-top: 113px;
}

.title_content {
  width: 100%;
  max-width: 650px;
  height: auto;
  clear: both;
  margin: 0 auto;
  text-align: center;
}

.title_content span {
  font-size: 21px;
  font-family: "Poppins", sans-serif;
  color: #00c0ff;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 5px;
}

.title_content h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

/* about-imgs - start  */

.wrapper {
  width: 100%;
  height: auto;
  clear: both;
  margin-top: 75px;
}

.about_imgs {
  position: relative;
  width: 100%;
}

.first_img {
  position: relative;
  float: right;
}
.first_img img {
  max-width: 380px;
  max-height: 510px;
}

.second_img {
  position: absolute;
  z-index: 1;
  right: 100%;
  top: 100%;
  margin-top: -180px;
  margin-right: -100px;
}

.in {
  position: relative;
}

.second_img img {
  min-width: 280px;
  max-width: 280px;
  min-height: 300px;
  border-radius: 15px;
}

.first_img .badge {
  width: 90px;
  height: 90px;
  display: inline-block;
  position: absolute;
  background-color: #00c0ff;
  border-radius: 10px;
  top: 105px;
  right: 100%;
  margin-right: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_img .badge i {
  font-size: 45px;
}

.first_img .expiriance {
  position: absolute;
  top: 100%;
  left: 165px;
  margin-top: 20px;
}

.first_img .expiriance .inner {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 22px;
}

.first_img .expiriance .inner::before {
  position: absolute;
  content: "";
  background-color: #00c0ff;
  left: 0;
  width: 8px;
  height: 50px;
}

.first_img .expiriance .inner h3 {
  font-weight: 600;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 45px;
}

.first_img .expiriance .inner span {
  font-size: 16px;
  line-height: 20px;
  padding-left: 14px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

/* about-imgs - end  */

/* about-content - start  */

.about_content {
  padding-left: 40px;
}

.about_content h3 {
  font-weight: 600;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 20px 0;
  font-size: 30px;
}

.about_content p {
  line-height: 30px;
  letter-spacing: 0;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 16px;
  color: #b4afc6;
  font-family: "Open Sans", sans-serif;
}

.about_list {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 32px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 2px solid #625a7d;
}
.left_list {
  width: 50%;
  padding: 35px 35px;
  float: left;
}

.left_list ul li,
.right_list ul li {
  margin: 0 0 11px;
}

.left_list ul li span,
.right_list ul li span {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  margin-bottom: 5px;
}

.right_list {
  width: 50%;
  padding: 35px 35px;
  float: left;
  border-left: 2px solid #625a7d;
}
/* about-content - start  */
/* about - end  */

/* total - start  */
.total {
  padding-top: 245px;
}
.total .total_content {
  width: 100%;
  margin: 0 0 50px;
  /* clear: both; */
  float: left;
  /* position: relative; */
  background-color: #432d92;
  border-radius: 10px;
  /* padding: 70px; */
  padding: 50px 70px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total .total_content h3 {
  font-size: 55px;
  color: #00c0ff;
  font-weight: 600;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
}

.total .total_content .total_text {
  font-size: 16px;
  padding-left: 18px;
  line-height: 24px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: inline-block;
}
/* total - end  */

/* skills - start  */

.skills {
  padding-top: 115px;
}

.skill_bars {
  width: 100%;
  margin-top: 70px;
}
.skill_bars .left_bar {
  padding-right: 3rem;
}
.skill_bars .right_bar {
  padding-left: 3rem;
}
.bar_inner {
  width: 100%;
  margin-bottom: 37px;
}
.bar_persent {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px;
}

.bar_persent span:first-child {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.bar_persent span:nth-child(2) {
  color: #00c0ff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  padding-right: 5%;
}
/* skills - end  */

/* services - start  */
.services {
  padding-top: 163px;
  /* margin-bottom: 110px; */
}
.service_cards {
  margin-top: 70px;
}

.serviceCard {
  width: 100%;
}

.serviceCard:hover .service_icon {
  background-color: #00c0ff;
}
.serviceCard:hover .service_icon i {
  color: #fff;
}
.serviceCard .serviceCard_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 95px 30px 60px;
}
.serviceCard .serviceCard_content i {
  font-size: 40px;
  margin: 0;
  transition: 0.3s;
}

.service_icon {
  width: 75px;
  height: 75px;
  background-color: #432d92;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  transition: 0.3s;
}

/* services - end  */

/* resume - start  */

.resume {
  padding-top: 110px;
}
.resume_content {
  width: 100%;
  height: auto;
  margin-top: 65px;
}
.resume_content .expirianse {
  width: 100%;
  padding-right: 50px;
  float: left;
}
.resume_content .education {
  width: 100%;
  padding-left: 50px;
  float: left;
}

.resume_content .resume_title {
  width: 100%;
  float: left;
  margin-bottom: 60px;
}
.resume_content .resume_title h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.resume_list {
  width: 100%;
  float: left;
  position: relative;
}
.resume_list::before {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #5d5e82;
  top: 0;
  bottom: 0;
  left: 36px;
  z-index: -1;
}
.resume_list_inner {
  width: 100%;
  float: left;
  margin: 0 0 50px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.resume_list_inner:last-child {
  margin: 0;
}
.resume_list_inner .icon {
  width: 72px;
  height: 72px;
  float: left;
  border-radius: 100%;
  background-color: #00c0ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume_list_inner .inner_text {
  width: 85%;
  /* padding-left: 20px; */
  float: left;
}
.resume_list_inner .inner_text h3 {
  font-size: 24px;
  margin-bottom: 13px;
  font-weight: 600;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.resume_list_inner .inner_text h3 span {
  font-size: 16px;
  color: #b4afc6;
  font-weight: 400;
  display: inline-block;
  padding-left: 8px;
}

.resume_list_inner .inner_text .company {
  font-size: 18px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.resume_list_inner .inner_text p {
  /* width: 85%; */
  line-height: 30px;
  letter-spacing: 0;
  word-wrap: break-word;
  font-weight: 400;
  color: #b4afc6;
  font-family: "Open Sans", sans-serif;
  margin-top: 18px;
}

/* resume - end  */

/* portfolio - start  */

.portfolio {
  width: 100%;
  padding-top: 155px;
  /* padding-bottom: 200px; */
}
.portfolio_control {
  width: 100%;
  height: auto;
  /* clear: both;
  float: left; */
  text-align: center;
  margin-top: 60px;
  margin-bottom: 55px;
}
.portfolio_control ul li {
  display: inline-block;
  margin: 0 20px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  transition: 0.3s;
}

.portfolio_control ul li.active {
  color: #00c0ff;
}

.portfolio_control ul li:hover {
  color: #00c0ff;
  cursor: pointer;
}
.portfolio_list {
  width: 100%;
  height: auto;
}
.portfolio_list .item {
  width: 100%;
  height: 400px;
  clear: both;
  float: left;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  margin: 15px 0;
}
.portfolio_list .item .details {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: #1e1345;
  padding: 20px;
  border-radius: 12px;
  transform: translateY(130%);
  transition: all 0.3s ease;
}

.portfolio_list .item:hover .details {
  transform: translateY(0%);
}

.portfolio_list .item .details h3 {
  font-size: 20px;
  margin-bottom: 2px;
  font-weight: 600;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.portfolio_list .item .details span {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  letter-spacing: 0;
  word-wrap: break-word;
  font-weight: 400;
  color: #b4afc6;
}

.portfolio_list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-box.hide {
  display: none;
}
/* portfolio - end  */

/* testimonials - start  */

.testimonials{
  width: 100%;
  padding-top: 140px;
}

.testi {
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}

.testi .slide {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.slide i{
  font-size: 100px;
  color: #00c0ff;
}
.slide p {
  font-size: 27px;
  text-align: center;
  font-style: italic;
  line-height: 1.6;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin-top: 35px;
}

.slide .short{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.short .image{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}


.short .detail{
  text-align: left;
  padding-left: 25px;
  
}

.short .detail h3{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.short .detail span{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  letter-spacing: 0;
  word-wrap: break-word;
  font-weight: 400;
  color: #b4afc6;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #00c0ff;
  opacity: 1;
  margin: 0 12px !important;
}
.swiper-pagination-bullet-active {
  background-color: #00c0ff;
  position: relative;
}

.swiper-pagination-bullet-active::before{
  position: absolute;
  content: "";
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border-radius: 100%;
  border: 2px solid #fff;
  transition: all .5s ease;

}

/* testimonials - end  */























/* scrollbar - start  */
body::-webkit-scrollbar {
  width: 13px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: #00c0ff #1e1345;
}
body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: #00c0ff;
  border-radius: 6px;
  border: 3px solid #1e1345;
}
/* scrollbar - end  */
